{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% if package.quality != '' %}
  {% set quality = package.quality[0][1:-1].replace("'",'').split(',') %}
{% else %} 
  {% set quality = [] %}  
{% endif %} 

{% block package_item %}
  <li class="{{ item_class or "dataset-item" }}">
    {% block content %}
      <div class="dataset-content">
        {% block heading %}
          <h3 class="dataset-heading">
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private label label-inverse">
                  <i class="fa fa-lock"></i>
                  {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}
            {% block heading_title %}
              {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="label label-important">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            {% endblock %}
            {% block quality_options %}
	      <span style="display:inline-block;">
                {% for result in quality %}
                   {% set token = result.replace(" ","").split(':') %}
                   {% if token.__len__() > 1 %}
                     {% if "core"  == token[0] %}
                       <ul style="font-size: 0;display:inline-block;">
                         <li style="display:inline-block;"><span class="label quality_label">{{ token[0] }}</span></li>
                         {% if token[1] >= "0" and token[1] <= "4" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="bad">{{ token[1] }}/15</span></li>
                         {% elif token[1] >= "5" and token[1] <= "8" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="regular">{{ token[1] }}/15</span></li>
                         {% elif token[1] >= "9" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="good">{{ token[1] }}/15</span></li>
                         {% endif %}
                       </ul>
                     {% endif %}
                     {% if "legal"  == token[0] %}
                       <ul style="font-size: 0;display:inline-block;">
                         <li style="display:inline-block;"><span class="label quality_label">{{ token[0] }}</span></li>
                         {% if token[1] >= "0" and token[1] <= "2" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="bad">{{ token[1] }}/7</span></li>
                         {% elif token[1] >= "3" and token[1] <= "4" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="regular">{{ token[1] }}/7</span></li>
                         {% elif token[1] >= "5" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="good">{{ token[1] }}/7</span></li>
                         {% endif %}
                       </ul>
                     {% endif %}
                     {% if "practico"  == token[0] %}
                       <ul style="font-size: 0;display:inline-block;">
                         <li style="display:inline-block;"><span class="label quality_label">{{ token[0] }}</span></li>
                         {% if token[1] >= "0" and token[1] <= "4" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="bad">{{ token[1] }}/14</span></li>
                         {% elif token[1] >= "5" and token[1] <= "8" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="regular">{{ token[1] }}/14</span></li>
                         {% elif token[1] >= "9" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="good">{{ token[1] }}/14</span></li>
                         {% endif %}
                       </ul>
                     {% endif %}
                     {% if "social"  == token[0] %}
                       <ul style="font-size: 0;display:inline-block;">
                         <li style="display:inline-block;"><span class="label quality_label">{{ token[0] }}</span></li>
                         {% if token[1] >= "0" and token[1] <= "2" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="bad">{{ token[1] }}/8</span></li>
                         {% elif token[1] >= "3" and token[1] <= "5" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="regular">{{ token[1] }}/8</span></li>
                         {% elif token[1] >= "6" %}
                           <li style="display:inline-block;"><span class="label quality_label" quality="good">{{ token[1] }}/8</span></li>
                         {% endif %}
                       </ul>
                     {% endif %}
                   {% endif %}
                {% endfor %}
              </span>
            {% endblock %}
          </h3>
        {% endblock %}
        {% block banner %}
          {% if banner %}
            <span class="banner">{{ _('Popular') }}</span>
          {% endif %}
        {% endblock %}
        {% block notes %}
          {% if notes %}
            <div>{{ notes|urlize }}</div>
          {% else %}
            <p class="empty">{{ _("This dataset has no description") }}</p>
          {% endif %}
        {% endblock %}
      </div>
      {% block resources %}
        {% if package.resources and not hide_resources %}
          {% block resources_outer %}
            <ul class="dataset-resources unstyled">
              {% block resources_inner %}
                {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                <li>
                  <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
                </li>
                {% endfor %}
              {% endblock %}
            </ul>
          {% endblock %}
        {% endif %}
      {% endblock %}
      {% block quality %}
      {% endblock %} 
    {% endblock %}
  </li>
{% endblock %}
